<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">
		<th:block th:fragment="content">
			<h1 class="mt-4">preMakeBlog Register Page</h1>

			<form th:action="@{/chunu/register}" th:method="post">
				<div class="form-group">
					<label >Title</label>
					<input type="text" class="form-control" name="title" placeholder="Enter Title">
				</div>
				<div class="form-group">
					<label >Content</label>
					<textarea class="form-control" name="content" rows="5"></textarea>
				</div>
				<div class="form-group">
					<label >Writer</label>
					<input type="text" class="form-control" name="writer" placeholder="Enter Writer">
				</div>

				<!-- 파일 업로드 처리하기 -->
				<div class="form-group fileForm">
					<label>Image Files</label>
					<div class="custom-file">
						<input type="file" class="custom-file-input files" id="fileInput" multiple>
						<label class="custom-file-label" data-browse="Browse"></label>
					</div>
				</div>
				<div class="box"></div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			<script>
				$(document).ready(function (e) {

				});
			</script> <!--document ready-->
		</th:block>
	</th:block>
</body>
</html>